body{
    background-color:rgb(215, 215, 200);
    font-size:1.6rem;
    font-weight:normal;
    font-family:'Arimo', sans-serif;
}
.container{
    width:100%;
    height:98vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.player{
    width:100%;
    height:98vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
}
.wrapper{
    width:100%;
    display:flex;
    justify-content:space-between;
}
.button{
    width:25vw;
    height:69px;
    background-color:rgba(2, 2, 2, 0.3);
    border:2px solid black;
    border-radius:2px;

}
.time{
    display:flex;
    justify-content:center;
    align-items:center;
    flex:1;
    width:100%;
    font-size: 10vh;
    background-color:rgba(128, 128, 128, .3);
    border-top:15px solid rgba(0, 120, 0, 0);
    border-radius:3px;
}
#player1{
    transform:rotate(0.5turn);
}